{{ define "main" -}}
  <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

      <!-- Intro -->
        <div id="intro" class="h-card">
          <a class="u-url u-uid" href="{{ .Site.BaseURL }}"></a>
          <img class="u-photo" style="background: black; border: 5px solid white; padding: 10px" src="images/bloodreads-logo-texty-matching-inverted.svg" />
          <h1>Welcome to<br />
          <span class="p-name p-org">BloodReads</span></h1>
          <p class="p-note">When you're looking into a book,<br />
          what is looking back?</p>
          <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
          </ul>
        </div>

      <!-- Header -->
        <header id="header">
          <a href="index.html" class="logo" style="background: black">
            BloodReads.com
          </a>
        </header>

      {{/*
      <!-- Nav 
        <nav id="nav">
          <ul class="links">
            <li class="active"><a href="index.html">This is Massively</a></li>
            <li><a href="generic.html">Generic Page</a></li>
            <li><a href="elements.html">Elements Reference</a></li>
          </ul>
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
          </ul>
        </nav>-->
      */}}

      <!-- Main -->
        <div id="main">

          <!-- Featured Post -->
            <article class="post featured h-entry" id="2019-ides-show">
              <header class="major">
                <span class="date"><time datetime="2019-03-15">March 15, 2019</time></span>
                <h2 class="p-name"><a class="u-url" href="{{ .Permalink }}#2019-ides-show">GHOST PARTY 👻🎉<br />
                IS ON THE &ldquo;ZINE&rdquo;</a></h2>
                <p class="p-summary">Baltimore's premiere witches' coven is haunting the publishing world.<br />
                BloodReads members can grab a front row seat to this once-in-a-lifetime<br />
                zine sales opportunity.</p>
              </header>
              <div class="u-cite h-event">
                <a href="https://www.eventbrite.com/e/ghost-party-presents-the-ides-of-march-tickets-57338713636" class="image main u-url"><img class="u-photo" src="{{ "images/GHOST-PARTY-promo.jpg" | absURL }}" alt="GHOST PARTY hosts and loyal acolytes posing in totally sick 80's dance party lighting." /></a>
                <div class="box">
                  <ul style="list-style-type: none">
                    <li class="p-title">GHOST PARTY 👻🎉 presents:<br/><strong>&ldquo;The Ides of March&rdquo;</strong></li>
                    <li><time datetime="2019-03-15T22:00:00-05:00">March 15, 2019 @ 10PM</time></li>
                    <li>&mdash; The BIG Theater &mdash;</li>
                    <li class="p-location"><strong>1727 N. Charles St.</strong></li>
                  </ul>
                  <ul class="actions special">
                    <li><a href="https://www.eventbrite.com/e/ghost-party-presents-the-ides-of-march-tickets-57338713636" class="button large">🎟 Reserve Your Seats</a></li>
                  </ul>
                </div>
              </div>
            </article>

          <!-- Posts -->
            <section class="posts">
              <article class="reviews">
                <header>
                  <h2>Latest Reviews</h2>
                </header>
                {{ range .Site.Data.reviews -}}
                  <article class="h-review review">
                    <header>
                      <span class="p-author h-card reviewer">
                        <img {{ printf "src=%q" (absURL (printf "%s%s" "images/avatars/" .avatar)) | safeHTMLAttr}} />
                        <span class="p-name name">{{ .reviewer }}</span>
                        <span> rated</span>
                      </span>
                      <data class="p-rating rating" value="{{ .rating }}">
                        {{ range seq 1 .rating -}}<svg width="2em" viewbox="0 0 30 42"><path fill="#CD0000" stroke="#CD0000" stroke-width="1.5" d="M15 3 Q16.5 6.8 25 18 A12.8 12.8 0 1 1 5 18 Q13.5 6.8 15 3z" /></svg>{{ end -}}
                        {{ range seq 4 -1 .rating -}}<svg width="2em" viewbox="0 0 30 42"><path fill="transparent" stroke="#CD0000" stroke-width="1.5" d="M15 3 Q16.5 6.8 25 18 A12.8 12.8 0 1 1 5 18 Q13.5 6.8 15 3z" /></svg>{{ end -}}
                      </data>
                      {{ with .work -}}
                        <span class="p-item h-cite work">
                          <span class="work-text-bits">
                            <cite class="p-name">{{ .title }}</cite>
                            by <span class="p-author author">{{ .author }}</span>
                          </span>
                          <img class="u-featured" {{ printf "src=%q" (absURL (printf "%s%s" "images/covers/" .cover)) | safeHTMLAttr }} />
                        </span>
                      {{ end -}}
                    </header>
                    <blockquote>{{ .content }}</blockquote>
                  </article>
                {{ end -}}
              </article>
              <article>
                <header>
                  <h2>What's Happening</h2>
                </header>
                <ul class="statuses">
                  {{ range .Site.Data.statuses -}}
                    <li><span class="icon">{{ .icon }}</span> <span class="actor">{{ .actor }}</span> <span class="content">{{ .content | safeHTML }}</span></li>
                  {{ end -}}
                </ul>
              </article>
            </section>

          <!-- Footer -->
            <footer>
              <!--<div class="pagination">
                <a href="#" class="previous">Prev</a>
                <a href="#" class="page active">1</a>
                <a href="#" class="page">2</a>
                <a href="#" class="page">3</a>
                <span class="extra">&hellip;</span>
                <a href="#" class="page">8</a>
                <a href="#" class="page">9</a>
                <a href="#" class="page">10</a>
                <a href="#" class="next">Next</a>
              </div>-->
            </footer>

        </div>

      <!-- Footer -->
        <footer id="footer">
          <section>
            <form method="post" action="#">
              <div class="fields">
                <div class="field">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="3"></textarea>
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
              </ul>
            </form>
          </section>
          <section class="split contact">
            <section class="alt">
              <h3>Address</h3>
              <p>1727 N Charles St<br />
              Baltimore, MD 21201</p>
            </section>
            <section>
              <h3>More Info</h3>
              <p><a href="https://ghostparty.today/">ghostparty.today</a></p>
            </section>
            <section>
              <h3>Email</h3>
              <p><a href="mailto:ghostpartyimprov@gmail.com">ghostpartyimprov@gmail.com</a></p>
            </section>
            <section>
              <h3>Social</h3>
              <ul class="icons alt">
                <li><a href="https://ghostparty.today/" class="icon alt fa-globe"><span class="label">ghostparty.today</span></a></li>
                <li><a href="https://twitter.com/ghostpartyhard" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/ghostpartyimprov/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/ghostpartyimprov/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
              </ul>
            </section>
          </section>
        </footer>

      <!-- Copyright -->
        <div id="copyright">
          <ul><li>&copy; 2019 <a href="https://ghostparty.today/">GHOST PARTY 👻🎉</a></li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li><li>Background: <a href="https://www.flickr.com/photos/56283488@N06/24045186820/in/album-72157662605984543/">michael kogan</a></li></ul>
        </div>

    </div>

  <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
{{ end -}}
